logs/*
!logs/.gitkeep

data/ohlcv/*
!data/ohlcv/.gitkeep

data/optimization/*
!data/optimization/.gitkeep

tests/testdata/database/ohlcv/*
!tests/testdata/database/ohlcv/.gitkeep

tests/testdata/optimization/*
!tests/testdata/optimization/.gitkeep

venv/

.idea/
*.pyc
**/__pycache__

.DS_Store

.coverage*
